*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}
header{
    background-color: floralwhite;
    padding: 20px 25px;
    text-align: center;
    position: sticky;
    top:0%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

nav h1{
    font-size: 32px;
}
nav ul{
       display: flex;
       list-style: none;
       gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color:black
}
nav ul li a:hover{
    color:red;
}
.heroine{
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(242, 223, 196);
}
.heroine h2{
    margin-bottom: 10px;
    font-size: 40px;
}
.heroine p{
    font-size: larger;
}
section{
    padding: 40px 20px;
    text-align: center;
    margin:auto;
}
section h2{
    text-align: center;
}
section p{
    text-align: center;
    font-size: larger;
}
.skill-card,
.project-card{
    width: 200px;  
    padding: 20px;
    background-color: rgb(242, 223, 196);
}
.skills-grid,
.project{
    padding: 20px;
    display: grid;
    justify-content: center;
    gap: 20px;
}
.skill-card:hover,.project-card:hover{
    background-color: pink;
}
footer{
    background-color: floralwhite;
    padding: 20px 25px;
    text-align: center;
}